:root{
    --body-bg: #DC2F02;
    --btn-clr: #03071E;
    --btn-txt: #FFBA08;
    --h1-clr: #FFFFFF;
    --txt-clr: #D4D700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: var(--body-bg);
    color: var(--txt-clr);
    font-family: 'Georama', sans-serif;
    font-size: 0.4em;
    h1{
        font-size: 3.5em;
        margin-bottom: 1em;
        color: var(--h1-clr);
    }
    .score{
        font-size: 4em;
        text-align: center;
    }
    #winner{
        color: #011638;
        text-align: center;
        font-size: 3em;
    }
}

.btn{
    background-color: var(--btn-clr);
    color: var(--btn-txt);
    font-size: 2em;
    padding: 0.4em 2em;
    border-radius: 1.5em;
    &:hover{
        background-color: var(--btn-txt);
    }
}

//dice animation
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

@media only screen and (min-width: 600px) {
    body{
        font-size: 0.5em;
        h1{
            margin-bottom: 0.5em;
        }
        .score{
            margin-top: 0.8em !important;
        }
    }
}

@media only screen and (min-width: 768px) {
    body{
        font-size: 0.4em;
        .score{
        margin-bottom: 1em !important;
        }
    }
}

@media only screen and (min-width: 1024px) {
    body{
        font-size: 0.5em;
    }
}